<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h4>Instructions</h4>
    <p>1. Download data from ticket2u.com</p>
    <p>2. Delete the birthdate column and save the excel file</p>
    <p>3. Upload data by clicking the upload a file button below</p>
    <p>4. Data will be automatically downloaded.</p>

    <!--  SINGLE FILE -->
    <form action="/upload" enctype="multipart/form-data" method="POST">
      <input type="file" name="myFile" />
      <input type="submit" value="Upload a file" />
    </form>
  </body>
</html>
